<!-- Eigenentwicklung -->
{% extends "base.html" %}

{% block app_content %}
	<h1>Über uns</h1>
		<p>Willkommen bei Luxury Rents, Ihrem zuverlässigen Partner für die Vermietung von Fahrzeugen. </p>
		<p>Wir bieten ein breites Angebot an Mietfahrzeugen, darunter Autos, Transporter und Motorräder, um Ihren individuellen Bedürfnissen gerecht zu werden. Unser Unternehmen verfügt über moderne Fahrzeugmodelle und bietet konkurrenzfähige Preise sowie flexible Mietoptionen. So wird sichergestellt, dass Sie immer das richtige Fahrzeug zum richtigen Zeitpunkt haben.</p>
		<p>Unser engagiertes und professionelles Team steht Ihnen jederzeit zur Verfügung, um Ihnen bei allen Fragen und Anliegen zu helfen. Bei Luxury Rents geht es darum, Ihre Reise so reibungslos wie möglich zu gestalten.</p>
	<h2>Arbeitsauftrag vom Studierenden</h2>
		<p>Dies ist eine Arbeit der ipso Bildung AG. Im Rahmen dieser Praxisarbeit soll das Gelernte in einem praktischen Kontext zur Anwendung kommen. Die Praxisarbeit soll folgende Ergebnisse liefern:</p>
		<ul>
			<li>eine lauffähige Anwendung mit Flask und einer Datenbank</li>
			<li>eine Dokumentation zur Anwendung</li>
			<li>eine Plattform, auf der die Anwendung in der Cloud bereitgestellt wird</li>
			<li>eine Dokumentation zur Plattform</li>
		</ul
		<p>Quelle: Aufgabenstellung_Praxisarbeit_VCID_V1.1.pdf</p>
{% endblock %}
